<div class="nav-items">
  <div class="nav-item" routerLink="/home">
    <span>Home</span>
  </div>
  <div class="nav-item" routerLink="/dash">
    <span>Dashboard</span>
  </div>
  <div class="nav-item" routerLink="/games">
    <span>Games</span>
  </div>
  <div class="nav-item" routerLink="/prac">
    <span>Practice</span>
  </div>
  <div class="nav-item" routerLink="/dyn">
    <span>Dynamics</span>
  </div>
  <div class="nav-item" routerLink="/dyn2">
    <span>Dynamics 2</span>
  </div>
</div>
