<div class="top-section">
</div>
<div class="middle-section">
  <div class="widget left">
    <div>
      <app-sales-by-month></app-sales-by-month>
    </div>
  </div>
  <div class="widget right">
    <div>
      <app-sales-by-category></app-sales-by-category>
    </div>
  </div>
</div>
<div class="bottom-section">
  <div class="widget left">
    <div>
      <app-top-three-products></app-top-three-products>
    </div>
  </div>
  <div class="widget right">
    <div>
      put a dash
    </div>
  </div>
</div>
