<div class="nav-items">
  <div class="nav-item" routerLink="/dashboard">
    <fa-icon [icon]="faDashboard"></fa-icon>
    Dashboard
  </div>
  <div class="nav-item" routerLink="/games">
    <fa-icon [icon]="faLocation"></fa-icon>
    Games
  </div>
  <div class="nav-item" routerLink="/shops">
    <fa-icon [icon]="faShop"></fa-icon>
    Shops
  </div>
  <div class="nav-item" routerLink="/products">
    <fa-icon [icon]="faBox"></fa-icon>
    Products
  </div>
  <div class="nav-item" routerLink="/sales">
    <fa-icon [icon]="faMoneyBill"></fa-icon>
    Sales
  </div>
  <div class="nav-item" routerLink="/statistics">
    <fa-icon [icon]="faChartBar"></fa-icon>
    Statistics
  </div>
  <div class="nav-item" routerLink="/contact">
    <fa-icon [icon]="faContactBook"></fa-icon>
    Contact
  </div>
  <div class="nav-item" routerLink="/help">
    <fa-icon [icon]="faHand"></fa-icon>
    Help
  </div>
</div>